<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.plugin.symbol.emdk"
        version="0.1.0">

  <name>Zebra EMDK Plugin</name>

  <engines>
    <engine name="cordova" version=">=7.0.0"/>
  </engines>

  <js-module src="www/emdk.js" name="emdk">
    <clobbers target="emdk" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ZebraScanner">
        <param name="android-package" value="com.plugin.symbol.emdk.ScanService"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="com.symbol.emdk.permission.EMDK" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*/application">
      <uses-library android:name="com.symbol.emdk" />
    </config-file>
	
    <source-file src="src/android/com/plugin/symbol/emdk/BarcodeScan.java" target-dir="src/com/plugin/symbol/emdk/"/>
    <source-file src="src/android/com/plugin/symbol/emdk/ScanCallback.java" target-dir="src/com/plugin/symbol/emdk/"/>
    <source-file src="src/android/com/plugin/symbol/emdk/ScanService.java" target-dir="src/com/plugin/symbol/emdk/"/>
  </platform>

</plugin>